# Cold Storage AI -- .dockerignore
# Ignore local environment/secrets
.env

# Ignore Git files
.git
.gitignore
.github/

# Ignore Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Ignore Local Database
*.db
*.sqlite3

# Ignore ML Training Pipeline & Artifacts
# We don't need Jupyter notebooks or the 17.5k row training dataset inside the final container
# But we DO need ml/outputs for results.json! So we just ignore the dataset.
ml/*.csv
ml/*.py

# Ignore Edge Hardware Code
esp32/

# Ignore DevOps configuration files
docker-compose.yml
Dockerfile

# Ignore Documentation & Temporary Files
README.md
.DS_Store
*.log
